AIST_dance/image
AIST_dance/keypoints2d
AIST_dance/keypoints3d
AIST_dance/video

annotation_guideline/readme.txt

custom_no_dance/video/no_dance_zhang1.mp4

results/demo.mp4

weights/pose_model_scratch.pth
weights/pose_model.pth

yoga_poses

figures.pptx
README_local.md
weights.best.hdf5
yoga_pose_classification.ipynb